<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stand.fm Comment-Reply Tool</title>
</head>
<body>
    <h1>Stand.fm Comment-Reply Tool</h1>
    <form action="/scrape" method="post">
        <label for="user_name">ユーザー名:</label><br>
        <input type="text" id="user_name" name="user_name" required><br><br>
        <label for="user_url">ユーザーアカウントのURL:</label><br>
        <input type="text" id="user_url" name="user_url" required><br><br>
        <label for="url1">配信URL 1:</label><br>
        <input type="text" id="url1" name="url1"><br><br>
        <label for="url2">配信URL 2:</label><br>
        <input type="text" id="url2" name="url2"><br><br>
        <label for="url3">配信URL 3:</label><br>
        <input type="text" id="url3" name="url3"><br><br>
        <label for="url4">配信URL 4:</label><br>
        <input type="text" id="url4" name="url4"><br><br>
        <label for="url5">配信URL 5:</label><br>
        <input type="text" id="url5" name="url5"><br><br>
        <button type="submit">Comment Search!</button>
    </form>
</body>
</html>
